html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  //background: url("/public/medias/snow.jpg");
  background: url("/public/medias/cyber-security-concept/93472.jpg");
  background-position: bottom;
  background-repeat: repeat-y;
  background-size: cover;
  color: $colour-lightgray;
}

.master_content {
  padding: $height-header 0 $height-footer 0;

  @media all and (max-width: 767px) {
    padding: 0 0 $height-footer 0;
  }
}

section {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  color: $colour-white;
  border-radius: 1.5em;
  padding: 5px;
}