$colour-primary: #122c3e;
$colour-secondary: #d2a058;
$colour-accent: #b4406a;
$colour-background : #466272;
$colour-white: #fff;
$colour-invalid: #b4406a;
$colour-section: #60a5bc;
$colour-lightgray: #e3e3e4;

$height-header: 100px;
$height-footer: 50px;

$heading-shadow-size: 0.55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * 0.25;

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;

$primary: $blue;
$secondary: $colour-lightgray;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;
