.table {
  background-color: $colour-secondary;
}

.tablehead {
  display: none;
}

@media (max-width: 700px) {
  .tablehead {
    font-weight: bold;
    display: inline;
  }

  .table thead {
    display: none;
  }

  .table tr {
    display: block;
  }

  .table td {
    display: block;
    text-align: left;
  }
}
